<div class="contacts well">
  <div class="name"><span class="text">Name:</span> <span class="value">{{name}}</span></div>
  <div class="phone-number"><span class="text">Phone Number:</span> <span class="value">{{phoneNumber}}</span></div>
  <div class="email"><span class="text">Email address:</span> <span class="value">{{email}}</span></div>
  <div class="twitter"><span class="text">Twitter:</span> <span class="value">{{twitter}}</span></div>
</div>
